.erd-footer {


    background-color: #5fc0c5;
    color: #FFF;

    text-align: center;

    height: 220px;

    display:flex;

    justify-content: center;

    a, a:hover {
        color: #FFF;
    }

}

.thorns-desktop-left {
    height: 220px;
    width: 594px;
    background-image: url(./images/left-thorns-set.png);
    background-position: top right;
}

.thorns-desktop-right {
    height: 220px;
    width: 556px;
    background-image: url(./images/right-thorns-set.png);
    background-position: top left;
}

.footer-content {
    text-align:center;
    padding: 30px 10px 0px 10px;
    height: 180px;
    width: 350px;

    margin: 20px;


    border-radius:5px;


    ul {
        margin: 0px;
        padding: 10px 0px 10px 0px;
        list-style-type:none;

        li {
            display:inline;

            a {
                padding: 20px 10px 10px 10px;
                text-decoration:none;
                font-size: 2.5em;
                color: #FFF;
                transition: background-color 500ms;
                border-radius: 5px;
            }

            a:hover {
                background-color: #49a7ac;
            }
        }
    }
}

@media (max-width: 767px) {
    .footer-content {
        width:100%;

        background-image: 
            linear-gradient( rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5) ),
            url(./images/left-thorns-set.jpg);

        background-position:top center;
    }
}